.header-area {
  background-color: #356AA0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: white;
}
.header-logo {
  background-image: url(../images/mac_logo_v3.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.trans-blue{
    background-image:url(../images/trans-blue.png) !important;
    background-color: transparent;
}
.world {
	background-image:url(../images/silk/icons/world.png) !important;
}
.printer {
	background-image:url(../images/silk/icons/printer.png) !important;
}
.clock {
	background-image:url(../images/silk/icons/clock.png) !important;
}
.clockgo {
	background-image:url(../images/silk/icons/clock_go.png) !important;
}
.coggo {
	background-image:url(../images/silk/icons/cog_go.png) !important;
}
.email {
	background-image:url(../images/silk/icons/email.png) !important;
}
.map {
	background-image:url(../images/silk/icons/map.png) !important;
}
.sound {
	background-image:url(../images/silk/icons/sound.png) !important;
}
.refresh {
	background-image:url(../images/silk/icons/arrow_refresh.png) !important;
}
.ruler {
	background-image:url(../images/geosilk/ruler.png) !important;
}
.rulersquare {
	background-image:url(../images/geosilk/ruler_square.png) !important;
}
.lineblue {
	background-image:url(../images/geosilk/line_blue.png) !important;
}
.play {
	background-image:url(../images/silk/icons/control_play.png) !important;
}
.pause {
	background-image:url(../images/silk/icons/control_pause.png) !important;
}
.link {
	background-image:url(../images/silk/icons/link.png) !important;
}
.plane {
	background-image:url(../images/plane.png) !important;
}
.microphone {
	background-image:url(../images/microphone.png) !important;
}
.icon-center {
    background-position: 50% 50%;
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

.x-grid-checkheader .x-form-checkbox {
    margin: auto; 
    cursor: pointer;
}

.x-grid-row-partialchecked .x-grid-row-checker {
    background-image: url('../images/partialchecked.gif');
}